<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cadena_conexion"
             connectionString="Data Source=(local);Initial Catalog=BD_SistVtas;Persist Security Info=True;User ID=sa;Password=*0v1i2s3S&amp;"
             providerName="System.Data.SQLClient" />
	</connectionStrings>
</configuration>