# Ignorar archivos de compilación y dependencias
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe
*.msi
*.zip
*.rar
*.7z
*.log

*.config

# Ignorar archivos generados automáticamente
*.csproj.user
*.csproj.vspscc
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds

# Ignorar archivos de análisis
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.sw?
*.pfx
*.cache
*.crash
*.dbmdl

# Ignorar directorios y archivos del IDE
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*/
*.VisualState.xml
*.csproj.user
*.user
*.userosscache
*.sln.docstates
*.sln.cache
*.suo
